<div>
	<form name="loginForm" data-ng-submit="vm.login()" role="form">
		<div>
			<label for="userName">Username:</label> <input id="userName"
				name="userName" type="text" data-ng-model="vm.user.userName" />
		</div>
		<div>
			<label for="password">Password:</label> <input id="password"
				name="password" type="password" data-ng-model="vm.user.password" />
		</div>
		<div>
			<button type="submit">Login</button>
		</div>
	</form>
</div>