<div>
	<form name="registerForm" data-ng-submit="vm.register()" role="form">
		<div>
			<label for="userName">Username:</label> <input id="userName"
				name="userName" type="text" data-ng-model="vm.user.userName" />
		</div>
		<div>
			<label for="email">Email:</label> <input id="email" name="email"
				type="text" data-ng-model="vm.user.email" />
		</div>
		<div>
			<label for="password">Password:</label> <input id="password"
				name="password" type="password" data-ng-model="vm.user.password" />
		</div>
		<div>
			<button type="submit">Register</button>
		</div>
	</form>
</div>